{% extends 'nav.html' %}
{% block content %}
<!--채팅목록 하나-->
{% comment %} <div class="container">
    <div class="division">
        <table style="width: 858px;">
            <tr>
                <td style="width: 60px; padding: 0 0 15px 2px;"><img class="chat_img"></td>
                <td style="font-size: 20px; text-align: left; padding-bottom: 15px;">
                    <h3 class="chat_list_text">거래글 제목</h3>
                    <h4 class="chat_list_text">닉네임, 닉네임, 닉네임, 닉네임, 닉네임</h4>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><div class="chat_list_text">ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div></td>
                <td>OO 00:00</td>
            </tr>
        </table>
    </div>
</div> {% endcomment %}


{% endblock %}