<h3>
    {{detail.title}}
</h3>
<span>닉네임</span>
<span>
    {{detail.writeDate}}
</span>

<p>
    {{detail.body}}
</p>

{% if detail.photo %}
	<img src="{{ detail.photo.url }}" alt="">
{% endif %}
 

<h3>댓글</h3>

<form method="POST" action="{% url 'create_comment' detail.id %}">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit">
</form>

{% for comment in detail.comment_set.all %}
    <hr>
    <span>닉네임</span> <span>{{comment.writeDate}}</span>
    <p>{{ comment.body }}</p>
    <hr>
{% endfor %}