
{% extends 'nav.html' %}

{% block content %}

<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
        <th>댓글수</th>
    </tr>
{% for post in posts reversed %}
    <tr>
        <td>{{post.id}}</td>
        <td><a href="{% url 'freeDetail' post.id %}">{{post.title}}</a></td>
        <td> 닉네임</td>
        <td> {{post.writeDate}}</td>
        <td> 1</td>
        <td> 2</td> 
    </tr>

{% endfor %}

</table>

<button type="button" onClick="location.href='freeCreate'">새글작성</button>

{% endblock %}