{% extends 'nav.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        
{% for post in posts %}
<div col="col-12">
        <div class="card" style="margin-top: 20px;">
            <img src="{%static 'images/gray.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
               
              <h4 class="card-title purbd_home_title"><a href="{% url 'detail' post.id %}" class="stretched-link" style=" text-decoration : none; color : black;">{{post.title}}</a></h4>
              <h5 class="card-subtitle mb-2 " style="text-align:left; margin-top: 10px; ">닉네임</h5>
            </div> 
      </div>
</div>
{% endfor %}
</div>
<div class="row">
<a href="freeCreate/"> 새글작성</a>
</div>
</div>


{% endblock %}