{% extends 'nav.html' %}

{% block content %}
<div class="container-fluid">
   <h3>게시판 글 작성</h3>
		<form method="POST" role="form" action="{% url 'create' %}">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <table>
            <tbody>
                <tr>
                    <td>글 제목</td>
                    <td>{{form.title}}</td>
                </tr>
                <tr>
                    <td>글 내용</td>
                    <td>{{form.body}}</td>
                </tr>
                <tr>
                    <td>사진</td>
                    <td>{{form.photo}}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary" placeholder="작성">
                    </input></td>           
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}


