/* !!!선택자는 class나 id로 하기!!! */
/* class,id 명은 "파트명_자유" */

/* 그리고 섞이면 복잡하니까 주석으로 영역나눠서 작업해주세영 */
/* ---------파트명---------- */

/* ---------detail---------- */
.detail_container {
    width: 1000px;
    /* border: 1px solid;
    border-color: lightgrey;
    border-radius: 10px 10px; */

    padding: 35px;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
}
.detail_img {
    width: 930px;
    height: 600px;
    border-radius: 10px 10px;
    object-fit: cover;
    background-color: lightgrey;
    margin-top: 20px;
}
.detail_lev {
    width: 30px;
    height: 30px;
    border-radius: 25px 25px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}
.detail_title {
    font-size: 50px;
    margin: 15px 0 0 0;
}
#purbd_detail_price {
    font-size: 30px;
    margin: 0;
}
.purbd_detail_td {
    width: 310px;
    padding: 5px;
}
.purbd_detail_table_line {
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

/* ---------join---------- */
.join_tag {
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}
.join_input {
    width: 400px;
    height: 50px;
    
    margin: 0 265px 20px 265px;
}   