/* !!!선택자는 class나 id로 하기!!! */
/* class,id 명은 "파트명_자유" */

/* 그리고 섞이면 복잡하니까 주석으로 영역나눠서 작업해주세영 */
/* ---------파트명---------- */


.navImage {
  height: 50px;
  border: 1px solid;
  border-color: pink;
  background-color: pink;
}
/* ---------purbd_detail---------- */
#purbd_detail_container {
    width: 1000px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 10px 10px;

    padding: 20px;
    margin: 0 auto;
}
#purbd_detail_img {
    width: 1000px;
    height: 600px;
    border-radius: 10px 10px;
    object-fit: cover;
    background-color: lightgrey;
}
#purbd_detail_lev {
    width: 30px;
    height: 30px;
    border-radius: 25px 25px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}
#purbd_detail_title {
    font-size: 50px;
    margin: 0;
}
#purbd_detail_price {
    font-size: 30px;
    margin: 0;
}
.purbd_detail_table_line {
    border-right: 0.5px solid lightgrey;
    border-left: 0.5px solid lightgrey;
}
.purbd_detail_td {
    padding: 5px;
}