{% extends 'nav.html' %}

{% block content %}
    <div class="detail_container">
        <div class="join_tag">아이디</div>
        <input type="text" name="id" class="join_input">
        <div class="join_tag">비밀번호</div>
        <input type="password" name="pw" class="join_input">
        <div class="join_tag">비밀번호 확인</div>
        <input type="password" name="pwcheck" class="join_input">
        <div class="join_tag">닉네임</div>
        <input type="text" name="id" class="join_input">

    </div>  
{% endblock %}